body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 1.5rem auto;
}

.actions {
  display: flex;
  justify-content: center;
}

.start-btn {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  transition: all 0.3s linear;
  cursor: pointer;
  background: #0095DD;
  color: white;
}

.start-btn:active {
  transform: scale(0.95);
}

.start-btn:disabled {
  opacity: 0.75;
  pointer-events: none;
}
