body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #FFF;
  display: block;
  margin: 1.5rem auto;
  border: 1px solid #3d3d3f;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: center;
}

.start-btn,
.restart-btn {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #3d3d3f;
  font-size: 1.25rem;
  margin: 1.5rem 0;
  transition: all 0.3s linear;
  cursor: pointer;
  background: transparent;
  color: #3d3d3f;
  margin: 0 10px;
}

.restart-btn {
  display: none;
}

.start-btn:active {
  transform: scale(0.95);
}

.start-btn:disabled {
  opacity: 0.75;
  pointer-events: none;
}
